{{ define "main" }}
{{ $page := . }}
<main class="page-main pa4" role="main">
  <section class="page-content mw9 center">
    <div class="flex-l items-center" style="{{ if .Params.image_left }}flex-direction: row-reverse;{{ end }}">
      <div class="mh4 w-50-l {{ if not .Params.text_align_left }}tr{{ end }}">
        {{ with .Params.title }}<h1 class="f2 f1-m f-subheadline-l fw5-ns mv4 lh-solid">{{ . }}</h1>{{ end }}
        {{ if .Params.show_action_link }}<a class="mt4 action {{ .Params.action_type }}" href="{{ .Params.action_link | relURL }}">{{ .Params.action_label | safeHTML }}</a>{{ end }}
        {{ with .Params.subtitle }}<h2 class="f5 fw7 mt0 mb4 ttu tracked">{{ . }}</h2>{{ end }}
            {{ with .Params.description }}<p class="f4 mt4 lh-copy">{{ . | markdownify }}</p>{{ end }}
</div>
        {{ if .Params.show_social_links }}{{ partial "shared/social-links.html" . }}{{ end }}
   
    </div>
      <div align="center" class="swiffy-slider slider-nav-autoplay slider-item-nogap slider-item-snapstart slider-item-show2-sm slider-item-nosnap-touch slider-nav-round slider-nav-dark slider-nav-sm slider-nav-outside slider-nav-autohide slider-nav-autoplay slider-indicators-square slider-indicators-highlight slider-nav-animation slider-nav-animation-scaleup slider-nav-animation-slow" data-slider-nav-autoplay-interval="3500">
               <ul class="slider-container">
        <li class="slide-visible"><img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling.jpg" style="max-width: 200px; height: 280px; display: block;"></li>
         <li class="slide-visible"><img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling-price.jpg" style="max-width: 200px; height: 280px; display: block;"></li>
    </ul>
    <div class="slider-indicators">
        <button class="active"></button>
        <button></button>
        <button></button>
</div>
         </div>
      {{ partial "shared/social-links.html" . }}
      {{ if .Params.show_action_link }}<a class="mt4 action {{ .Params.action_type }}" href="{{ .Params.action_link | relURL }}">{{ .Params.action_label | safeHTML }}</a>{{ end }}
        <div class="swiffy-slider slider-nav-autoplay slider-nav-round slider-nav-animation slider-nav-animation-fadein">
    <ul class="slider-container">
        <li class="">
            <div class="card rounded-0 h-100">
                <div class="row g-0 h-100">
                    <div class="col-md-6 col-xl-5 d-flex align-items-center p-2 p-md-3 p-xl-5">
                        <div class="card-body p-1 p-md-3 p-xl-5">
                            <p class="lead">Why use this slider</p>
                            <h2 class="card-title" style="color:#DF1E1E;">Swiffy Slider Benefits</h2>
                            <p class="card-text mt-3">Super fast lightweight slider and carousel with amazing touch support and user experience.</p>
                            <p>Super simple setup using just markup and few powerful configuration options</p>
                            <p class="card-text"><small class="text-muted">Remember to check out on mobile</small></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-7">
                        <img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling.jpg" class="card-img d-none d-md-block" loading="lazy" style="max-width: 200px; height: 280px; display: block;">
                        <img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling.jpg" class="card-img d-block d-md-none" loading="lazy" style="max-width: 200px; height: 280px; display: block;">
                    </div>
                </div>
            </div>
        </li>
        <li class="slide-visible">
            <div class="card rounded-0 h-100">
                <div class="row g-0 h-100">
                    <div class="col-md-6 col-xl-7">
                        <img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling.jpg" class="card-img d-none d-md-block" loading="lazy" style="max-width: 200px; height: 280px; display: block;">
                        <img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling.jpg" class="card-img d-block d-md-none" loading="lazy" style="max-width: 200px; height: 280px; display: block;">
                    </div>
                    <div class="col-md-6 col-xl-5 d-flex align-items-center p-2 p-md-3 p-xl-5">
                        <div class="card-body p-1 p-md-3 p-xl-5">
                            <p class="lead">Dreaming about cars</p>
                            <h2 class="card-title" style="color:#DF1E1E;">Vintage cars from another era</h2>
                            <p class="card-text mt-3">First, there’s the design of the car itself. Classic cars were created very much in an analogue world where designers used pencil and paper to create elegant shapes and flowing lines that would just not be possible
                                on the computer-based design software used by modern car designers.</p>
                            <p class="card-text"><small class="text-muted">Handcrafted like good code</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="">
            <div class="card rounded-0 h-100 text-white">
                <img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling.jpg" class="card-img h-100" style="max-width: 200px; height: 280px; display: block; object-fit: cover">
                <div class="card-img-overlay d-flex align-items-start align-items-md-center justify-content-center flex-column">
                    <h2 class="card-title h1 d-block d-md-inline-block">The Aston Martin DB5</h2>
                    <p class="card-text lead col-md-8 col-lg-6">The Aston Martin DB5 is a British luxury grand tourer (GT) that was made by Aston Martin and designed by the Italian coachbuilder Carrozzeria Touring Superleggera. </p>
                </div>
            </div>
        </li>
    </ul>

    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

    <div class="slider-indicators">
        <button class="" aria-label="Go to slide"></button>
        <button aria-label="Go to slide" class="active"></button>
        <button aria-label="Go to slide" class=""></button>
    </div>
      </div>
               <hr>
  </section>
</main>
{{ end }}
