{{ define "main" }}
{{ $page := . }}
<main class="page-main pa4" role="main">
  <section class="page-content mw9 center">
    <div class="flex-l items-center" style="{{ if .Params.image_left }}flex-direction: row-reverse;{{ end }}">
      <div class="mh4 w-50-l {{ if not .Params.text_align_left }}tr{{ end }}">
        {{ with .Params.title }}<h1 class="f2 f1-m f-subheadline-l fw5-ns mv4 lh-solid">{{ . }}</h1>{{ end }}
        {{ if .Params.show_action_link }}<a class="mt4 action {{ .Params.action_type }}" href="{{ .Params.action_link | relURL }}">{{ .Params.action_label | safeHTML }}</a>{{ end }}
        {{ with .Params.subtitle }}<h2 class="f5 fw7 mt0 mb4 ttu tracked">{{ . }}</h2>{{ end }}
            {{ with .Params.description }}<p class="f4 mt4 lh-copy">{{ . | markdownify }}</p>{{ end }}
        {{ if .Params.show_social_links }}{{ partial "shared/social-links.html" . }}{{ end }}
        {{ if .Params.show_action_link }}<a class="mt4 action {{ .Params.action_type }}" href="{{ .Params.action_link | relURL }}">{{ .Params.action_label | safeHTML }}</a>{{ end }}
      </div>
               <hr>
      <div style="border: 1px solid black"; class="swiffy-slider slider-item-nogap slider-item-snapstart slider-item-show2-sm slider-item-nosnap-touch slider-nav-round slider-nav-dark slider-nav-sm slider-nav-outside slider-nav-autohide slider-nav-autoplay slider-indicators-square slider-indicators-highlight slider-nav-animation slider-nav-animation-scaleup slider-nav-animation-slow" data-slider-nav-autoplay-interval="3500">
               <ul class="slider-container">
        <li class="slide-visible"><img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling.jpg" style="max-width: 100%;height: auto; margin: auto;display: block;"></li>
         <li class="slide-visible"><img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling-price.jpg" style="max-width: 100%;height: auto; margin: auto;display: block;"></li>
    </ul>
    <div class="slider-indicators">
        <button class="active"></button>
        <button></button>
        <button></button>
</div>
         </div>
      <!-- blank line -->
<script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script>
<div class="pa-carousel-widget" style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/pvezkJ23z7zNgisS9"
  data-title="Sukra Family&#39;s Idul Fitri 2010"
  data-description="63 new items added to shared album">
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84XxLNoinMcycErv-uN-vdie8wjZ_yFktsIkeS9t18RhoHDOCJ-_X-q3xepZYVMUvahQ9XXDER9_wbsGHY1wmJD4kuo-mDH4Sq1X_87oQLAmNAuqRDz=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85sXLmXyJ29IpxUipwvwGR-sfEMYyRn42bGN43uG5b2FseCExzyc-u_JtohdIJMGCUAPb40L5BppWOxHuXFPH80ZlfAAoC7wshiNNr9jP5h12upDdXH=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV87H3QPmg3oXb0AWnrPY6kOisnXcqwrdmAbyC86ajkf-oMZlfXuur7JXwwfoyD2x0A3grqORU0dJoRVqBHHCSf_HeW8YV8fF4JiaTEnQtahuVyxm7onk=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84ByXXjz1Wc04FD8KbkKcYdeYVh0hRX3lxP8RjT98DQGdAGtDkERB625GrCMSEqifJ_m6gMPXW1dQT5NefgbRz5QvCHYET0Ub8JY0vyz6yihb_EjKFi=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85eDJiWiOiYrppO7Sg6wepnFpoUGraR-dSweO3BGbma8ptbEe0IqLDYq82dVbSBEMp68p1zwSiTyBxs3ErCsXrlzql0VhksK92XJiKICGYWZBU_FdkP=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV849b1Dwj5GcQRJ1tucW4iaaG5tklBygGAeV6TmX_eMxYmMEETuM0KwGUESNHrF4fBgDVU_poU4SdZ15mSjlyUnDzo7D8v03eIy7feWPreofjT-UHKeQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84sr4HaZqHJR2fxmoIuboY7Jm5roh0NSjyMAS-vLbfDIFnyLUVz0RCoIP7VZDxs5Ivd41R7alD0dIlZFRiA-DNZ5OXI5AKd2bsfhX51Fv9kOUWh-y0D=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85QjXnVZOfBTw3ePPD-yp_edJEhw_OSE4qYLUrFaT2kIthyIIsKgJ8mgkSazh_SHZMcIAmLvGh3mAqomh0Zn4ohLWl2A_vYMLXvrZbzukz0X3ZcqSe7=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85F9QUK4cGEk82IiNewsW1jG-lQz-_uTlLkNYbe-SuCumc5En0x5nZXup3Tasmha5V2L-tI0M_e0qQ3mDwrWXl7zULJVN3EvKs2MNC8UyzXLYBJJyCG=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV87hAhLRnuPwgPSBEXBQumDCFFdvgeE6H-l4Df0gCreo5UQe1y4QPFl1PL-cEvzn9qJDSMfSQUBzTTIm4elMiXcQC-q6wL3PHIG-npMWOgkW-Y39-b4g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV87z-zwmzhcLa-IUP39f9JVBXV9Iz6nuBI_dYZjwsI6IwyA1-vzCk4NavR4qcMDZyRlpYYc9k1Z_vn6vcXjl5mMkuP4PuTpNH-ohuz_mYR6Ow0ooopre=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84HT3W8qrU2WlpG3Qzy704MGUnLjF1X7L8MA8BA48DFtjckXgRe8bWmNgNhhgAvYxb9XKzxwixAJazV2mRAwqwMH4lUGAz4kcux73sCLPNM9CE2wyXx=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84No7nMJWpSt9qbcY5X5qBc9M5vfN88JeYgzNY8d10H3g4JIs4Z_a8iYUFuAt7JX2gQBH-SNLQ3scWFAbkK7h6OzgwJ8Y4ADkKSoVA4vUBP8S-iOFpm=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84ZnX1apvzsBnH3L4lpq0B4qY66ha8EIwLd7aqOyrQ09CxkJ3EczMXeORIjLBT9C6Y3jFVgheESEMO70eNooj8DHCyivbX2D2UbdIQJNXCla7vBk1ds=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV867tgyBNE2Ubwme0Z02B0DHjBNzl0GvcaEjZAkXSj3zowunDGEIWyTr45mx3B7B3dBTP13PIX19aTE6GOimA0-vkW1i-Qr2IHFa7mTDyFiHVzj4bJnw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV86QnH0y8yVzBgI3-ei8DVJ4q4cZvCZivNZm5vvVf7pk9UAfYy-_Xc9kWOkx2nmH-hoPGJbOA_9YgGrJQH5SCHY9NTPmS9mmP-IiK8TyZOPnFVtf49qL=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV8555ta638743z2WOdMdoUcoW0s9QiBiC6kSOo6WWcyFYhtnhk54F0Bqawq95FWGxqxdVmrqS_UoD9ETRGSQ5eO-VsFsv6ByWZBCpcldj8GGJY6e7pPV=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85sAqAKjDcVh-qWMe9LsFslsQN0Alu9_5jC4GNSjMrLeSswNk9YPIWQoUmLoSXtsKtETFwX3vaiGomfyU6qC69Gofd-U7QBS8bMJdc-VNrOc4Mui_-x=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85_X2egApXrCC3NaPy0ByiWKrO68oGqey-WYCuAToKnaQKkmlEswxDya-uTHdgLbbUP-03yjcmcZu1PJJL_SKIVpUmlV30-IuAz1sCF_PgNrD3A7jRo=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85wfLok0JeORdYhIiJevxTRwmodjwl97oW4yv7lAwUQCIFTRymR7f-gYQ_tbSoEvjasrkTZBc2Eju9NvMU8PyFmFWHeSn5NMWRATezOeUbQvXcfmkg8=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV86Zr4b6b0HizJ2HcO5YKJWsjhQGm6K1OyKk9GL2WwUN4eyRNoIQAv3a7KyK56a0iHaBtOwgL4CaEtSawomLZw3RZ3kuaKnYp82tcP9oLkaUFmL2hT0s=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84rkl6dVAuT4x7rXufbV-fH_p-X3HoIZydI3jYQD0j19kfjlm68yFAO0W3s7rmtYUcY1HASVPfLtRTSVFnIQ2M4W2ybo_2zhdQypR3IB-Y-XpXMgXZ9=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV862TH5uCChqi_4KYNzo9LmzOaa8H-uksCS_rsXzxS4oz4qhCoTtVRXji7kanYqtZ1JA0PxsPT_r49IWO4Mwk1h5vOuPFZWUr7Jc8vglaPBVkNgY6QUU=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV875yxw3sUWVJKim18pjUexKvzVYlngfoXUlU3C0B35Ur4hxdpa0zi_MbsXSgFG5yUetnTymAGSq0pLTM3bJZyHjHguz-MedB2NfW-WzPm-wGFyrsgOo=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84hEwh4Jb32o-i2g7XVMzp3FGkSHf35dkNcfRYQ1BMeB27BG_c0M4w5Zi08yIdL0mIc5ILwrVJFZdwADFu289FXuSFPwMlUoSFOpLSSrl7J4y3qWemA=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85f9hMW9wHDRk9UA5i38_U-POOeXFU-IUkfX7z2rZTV7QbmKdA1PyJ3rfT4qFmVwKwl8B8mk5yG73zZXCcucmUGkdYFrIJOnEI_5rVcmxSAwFLMfqnG=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84Ta1dH22TwIVnniCkJcVqakOp9skJ0yAc888xfSVjuegNRFt_fo-fbnRe6BF2wpkPLgjjYqJzdqCKtGpuKp173CSiqOKPCS2nUmObn5WbaWf7S4k_g=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85Nn07AACNutzxcB61aLYIemtjDjkouGgciLeJU7Y6WmM6Ev_hucNBfca7nZrvwS6i7ixo4LuMUJfrkyHfa_d2bFpELlr07Uj_hmkgez3ETLo5PlLe_=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV87JWHLTXgaL56atFJMlS0Jfx3yEJzj1udkhnrdXMCGKHNKjEIa8YMJQEOd_gFJTCBAOz3SUxHf77_KYY2WiJLg4P4jyfZahGNwmbT6mBIkdpT5HfSJI=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV86ns8d-g8AAYdxI7WtUGK1jydy56FWUwweQwEZZSjp7oyvG8hj9Zo4xWWWurEPBRFWgBxpLfm-4zTXMIAyPdO_Qe5iuiuM-GJ-zp_GmXxPJ2UOw0-Sd=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV86Srr6NAu8A7xlMKs-gRtre3L_fw9nWm3mxDkHbRab27wt6dliN7JOFzGu0D-7t8nqBMaHP0S8ktlfqxoOs-3R9UUyhAPS15OmqjdITn5DZc_QEAXU2=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84xEAsUBJNV3MmCB_kBRiLCdIYX0-DubaI7u0M3wKHT82yh0TveZ0UNNa3x0Z0wdNTCL0Ywuvb1DZ4wxAPAZGspFJQtut-5vdhNBZShe66ER6uiEdXx=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85_dGXOrS-R0xU6-lNVi7ULX4VVvo_5sCiJ_NetGJCWF74YqncdTv6z-3-lLn1TfC0hIn_UCrDywUd6Tm9gqEBQ1tfIELG5p_6mXtarHP2myjo-Rl5o=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV86Oy-nEWl7jbhrisj5XfgNqTVlPnb9lwhiyuCE5J9BomfsIiE1dVEz995LTDgmGn0j7ZFtP6aFEsmcQ_x1wTLW9OyYwhQxPnwJqD-WYyJjPW9Jki9T4=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV87iJdAhUvqHEe5kl50BN3BlaUpk4NZ9dWWbMAnfdZKzTR7xG5IZYzPvcXaIHg62wUjmOdm9HpYWuWX2XGPG2RNS_SLyw_P2DA8OdHJjqXEXw3Xb9Mv7=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85ZKiXAdBjIyr5DCaZ9Erh6DYyljQd8uD7Vo2Y7INyDNEqnAb80EJSLwA51Icu3FbBfl1wWfxpm1BF6zm3_VmKx5wmCyY8QybPK1-hgg86gayQm9w3R=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84xS1u4Yagf8HaavhKeLuHpbAWiezS2n73cFQBOv2nPABWPYrzj4yqZPTRcHkpChNQ18kNThKasySckP5hSh-AlqF5fWTxZ6jEns1pCP_hBZlqzDGVV=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV87U65lClUXyHLP6UBjxufQ3Ax0Y2YcLhbbaf1ot6Y21xkzQcQdyq58J5L2vTCASO8YB0VioUBYGaRmCOaPG_8NOjK7XHPV5p7o-AjA_9J1lRteHQROQ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV87G-CP0iOx2RmHtP2DwHzaG8P9aaT_eXRbFwuZh0e3XG9mXCETdr24lRKulVBpsEiHqQxTIgURp8II1zacVak-7F2pIc-fgc0nObsCCSJ5OD7fyj9dt=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84B-LkN3OFbLOHgnDOKyWdycbrb7Kk-lIVIll6Z3jeJlDH0Maylo2EOLqfkORVqckwYXE1V11YNWocw36aYnlGPrgLWuAYT_d0J_O6k6bb0Y53ADUNr=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV86CKA4TJaDsrYsSmJs3NW-UGgpIpFWMEdFXCoJ5JYCVqMt9nItrssigQ4t9jvtb7a1wCngMCnUXKQCEPBOpH5_ZtMMq89smYb_8ez0utmYyafUbh0h7=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84IXW1rrw7GCAKcXjn8wEsUhZIuKdepup4Sgt_s30Cq_p4vxrSW8G912PgMxdQirwsksoQFnGJFoxjoJB9jXRgG4XX2bJMovMbvmrV0o25nsaqfoYfW=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84Bc6EDSjcpSYa7d5RL2HApALxxKKN7TvRYTEvZlndRL6HDE6Mi2fhh0S_t4-TvzZU4xmNuZO6PAf9Z3aPgVoGZHiKC0awwvreGf6_EDiXd8yZlq5Ph=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV87xjJb4kmv-BMhPyZ-yTnQuEYXRtoKdR3r1ppsJTUETNXxh3iVLGoJS8NHGW2em3klZrO3paXgD3YmIs0YQXjpW8RryMGG9nUDqt4xP6_1l7cFx4aO7=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85MQCr4QR5jUt_yKCILCDhSP3QUNDDNQUNutAfmiYER09vcyLgk1sP7Wipyt-WGgLe6wvJUpk9dufqml18bXHlLlB45vv8H-vQssHasUXQtKF0v0uwJ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV842eoSqSsbhSLWWgGlLdxrlY_Df_5hVTmzh8LLZSn3blCCHw-nYWvCI2W7uS0ktbZ5ETdAi4KC8HCTegXqXUZrAFzX66yzK-4M6FaruW3oPbhbQ1Zgv=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84ug2vKHht3fpXJlefWcJIlMYWF9AZ3kZ6rBgefiAy561sX0H3ZAOd5wja9M_A7vFXRCtCFAKfez7PfJeIkhS6hLXuTwldAzYWLb6qSMVMKWNt2rxE2=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV842t6X_HCBt3NVdkjfIVwLKN7PCFGywpOFDUrkrzlJLZyshKT_0UJp55FnO9olZS0vbN20OagUpQUx-YRKjsGBp32FnHQoR5ju0ugx2xx8RQe9d2j6G=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV86W9rp5QzHVcanIDOeeDdSVpz2CWNl7H5Xsoorts9JfT5dqVPH_HPIC_pTTSNPj6QsCz0T1bwvO67qW_8OC6PrvD00pG-GsGh8EskO81PEWJrQTO9tH=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV864-72099YYpzpYZVpG558vodr9Kcj0ev4lJqpBdXAoSECoa0FuxjocZCFvHh-zcFxMkaf7SLuYOshxtJjdKWam8jgLDrT2_Imy8nXu4KNGFnOsqJyo=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV85EtswbY8w9I3Zdt-jaew_6VQdsl0yIxA9zNK85XB5V-_Ns4Ia0uAKmJSdI1G7OXPbe62QNFMXV0SGj5147DqktNjtLQ_S8om2L1oPZGpp0-pKKPcnz=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV87imEnktnIuWZFCG_CiP6HUxLLkLvMZk8P1UneQTumKipHM1aJJPEGRFH10NBCSKvDTMTmCWMp0l5dvPb-mhoRfn35ejaDzBRUpp11wQpxnnSN5PmPg=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV86Lg6SsZF1NX5Rv2Mb9oBviN7wMDy0PDAwW6mEg88BR4ysusct6U82FVqbGChuLsG7ytIEyOj-sizuw2RoDaS1pIGCz9f-NIMSgcSp4osDq_xi-1anw=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV86vsWzUqyXTZTW7lVwB81NwzFidPzuh1kXACPiF92bOUw7Tk02Xo5sYbWpHTiSCYXqfpyVbx6E0umi_PrabRwcdtQsyBPc_pysGxud1cCLaB0wNH2gh=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV866N4Spc6p0JXv23mGWFI5qYzc1gwBzBq4iqDAkkAVoBnp5X3_FKUm8bVz0pIdn9wyVEV5u0fZdqSFoN2Zj1QIqpkcVuO-Wzx_lkAmaIKYzlhqtWH6G=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV86Gi4D2lrN-ypXlPS_qZNsMHe6qzd_bNQUTzLLe1moMKm_irp_MnQfnQk3wieMW3Rm-wSKiXjdXjbeW9Ey2O1thWywRnAtMH6gbU1PPmb6VTR1zdjUY=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV86LMq5a96EQHAeUSGHqlumr9NDx1BYHPcyMNtqdWt598sBSksO5-8HfBTot174VpcTsslk-QAnIkvMFT4U6uCetJXCdtlbUZSk_8F-zXuUAx6q0BIK2=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV841jFrX_2NxLsk68fQxUrnN1slnTbBC7SzVbvTKcdHjK0XW7dTMI70EIaUEADpBlYOWiV4H-fxn3CQhusA9_1AFlm-HV0RYdn5MqWPPuV4JYqWyr3xK=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84qs6CDk_igWR32LOUpNv037rGuDHZRnbA7_9r-7RyLYaV_JFSeXcrZLlm8ezVpEXjiQU_cHwsa7kMIEbGOYqoCprlOn1LQF3Ne_HRFu2WseFWReVdx=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84nty2MMPEtUF__6M8dhP-We9wdutBOkaP6T0A3TaPlEEYOlGYT-J1mHTf3SSHqgNWWl8_lFT90L6uUD-PmrY0XT9J7rH8yD4Lrynpt6a72wS7NnSAJ=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV87BKrld336U0jc7qorm4niZj7LB_RACDCH4haDGyjnpjwToWtCpgbFlBdVGL2_CtLJDa05wCZL7qq3_q2d7cvOLHgxXvTT2FFjsPNauXMPz1NznxxFP=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV84S2aZ6Ij2H0kd8rluZDfe0rV4ptTBT9Vkq1J575vXnB0k4tYtc60hTX4Nfo_GEFM-KwtT1KLO6AXAcPd8_mWg9fq7knhi0ijQlkqZ052Hl7kJwKEIo=w1920-h1080"></object>
  <object data="https://lh3.googleusercontent.com/pw/ABLVV8720lVjG75lMT5PuN1FSk0YAgHXrXUx0F6abW6aJoCOjCkWFS7NoZuVoUChHeR2Vt5UO8ix-yxMI1wU02gmyNIjepGUxIiQmWRpKROq5mNrKhKSxROJ=w1920-h1080"></object>
</div>
      <!-- blank line -->
  </section>
</main>
{{ end }}
