{{ define "main" }}
{{ $page := . }}
<main class="page-main pa4" role="main">
  <section class="page-content mw9 center">
    <div class="flex-l items-center" style="{{ if .Params.image_left }}flex-direction: row-reverse;{{ end }}">
      <div class="mh4 w-50-l {{ if not .Params.text_align_left }}tr{{ end }}">
        {{ with .Params.title }}<h1 class="f2 f1-m f-subheadline-l fw5-ns mv4 lh-solid">{{ . }}</h1>{{ end }}
        {{ if .Params.show_action_link }}<a class="mt4 action {{ .Params.action_type }}" href="{{ .Params.action_link | relURL }}">{{ .Params.action_label | safeHTML }}</a>{{ end }}
        {{ with .Params.subtitle }}<h2 class="f5 fw7 mt0 mb4 ttu tracked">{{ . }}</h2>{{ end }}
            {{ with .Params.description }}<p class="f4 mt4 lh-copy">{{ . | markdownify }}</p>{{ end }}
</div>
        {{ if .Params.show_social_links }}{{ partial "shared/social-links.html" . }}{{ end }}
   
    </div>
      <div align="center" class="swiffy-slider slider-nav-autoplay slider-item-nogap slider-item-snapstart slider-item-show2-sm slider-item-nosnap-touch slider-nav-round slider-nav-dark slider-nav-sm slider-nav-outside slider-nav-autohide slider-nav-autoplay slider-indicators-square slider-indicators-highlight slider-nav-animation slider-nav-animation-scaleup slider-nav-animation-slow" data-slider-nav-autoplay-interval="3500">
               <ul class="slider-container">
        <li class="slide-visible"><img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling.jpg" style="max-width: 320px; height: 280px; display: block;"></li>
         <li class="slide-visible"><img src="https://aceapugtar.cloudimg.io/beningabaditransport.com/images/wuling-price.jpg" style="max-width: 320px; height: 280px; display: block;"></li>
    </ul>
         </div>
      {{ partial "shared/social-links.html" . }}
      {{ if .Params.show_action_link }}<a class="mt4 action {{ .Params.action_type }}" href="{{ .Params.action_link | relURL }}">{{ .Params.action_label | safeHTML }}</a>{{ end }}
        <div max-width="320px" max-height="100%" margin="auto" border="3px solid #73AD21" class="swiffy-slider slider-item-nosnap slider-item-nosnap-touch slider-nav-round slider-nav-animation slider-nav-animation-zoomout slider-item-nogap slider-nav-visible">
    <ul class="slider-container">
        <li class="">
            <div class="card rounded-0 h-100">
                <div class="row g-0 h-100">
                    <div class="col-md-6 col-xl-5 d-flex align-items-center p-2 p-md-3 p-xl-5">
                        <div class="card-body p-1 p-md-3 p-xl-5">
                            <p class="lead"></p>
                            <h2 class="card-title" style="color:#DF1E1E;">Bening Abadi Transport Cab.UMY</h2>
                            <p class="card-text mt-3"></p>
                            <p>Jl. Ring Road Selatan No.39, Gatak, Tamantirto, Kec. Kasihan, Kabupaten Bantul, Daerah Istimewa Yogyakarta 55184</p>
                            <p class="card-text"><small class="text-muted">Jika anda ingin melakukan DP pastikan selalu konfirmasi dengan nomor resmi di website ini.</small></p>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-7">
                        <img src="https://aceapugtar.cloudimg.io/raw.githubusercontent.com/ariefbuddies/bening-out/master/uploads/bening-umy.jpg?w=160&radius=10&force_format=png&#center" class="card-img d-none d-md-block" loading="lazy" style="max-width: 320px; height: 280px; display: block;">
                        
                    </div>
                </div>
            </div>
        </li>
        <li class="slide-visible">
            <div class="card rounded-0 h-100">
                <div class="row g-0 h-100">
                    <div class="col-md-6 col-xl-7">
                        <img src="https://aceapugtar.cloudimg.io/raw.githubusercontent.com/ariefbuddies/bening-out/master/uploads/bening-lempu.jpg?w=240&radius=20&force_format=png&#center" class="card-img d-none d-md-block" loading="lazy" style="max-width: 320px; height: 280px; display: block;">
                      
                    </div>
                    <div class="col-md-6 col-xl-5 d-flex align-items-center p-2 p-md-3 p-xl-5">
                        <div class="card-body p-1 p-md-3 p-xl-5">
                            <p class="lead"></p>
                            <h3 class="card-title" style="color:#DF1E1E;">Bening Abadi Transport Cab. Stasiun Lempuyangan</h3>
                            <p class="card-text mt-3">Jl. Lempuyangan, Bausasran, Kec. Danurejan, Kota Yogyakarta, DIY</p>
                            <p class="card-text"><small class="text-muted">Jika anda ingin melakukan DP pastikan selalu konfirmasi dengan nomor resmi di website ini.</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="">
            <div class="card rounded-0 h-100 text-white">
                <img src="https://aceapugtar.cloudimg.io/raw.githubusercontent.com/ariefbuddies/bening-out/master/uploads/samirono-room.jpg?w=240&radius=20&force_format=png&#center" class="card-img h-100" style="max-width: 320px; height: 280px; display: block; object-fit: cover">
                <div class="card-img-overlay d-flex align-items-start align-items-md-center justify-content-center flex-column">
                    <h3 class="card-title h1 d-block d-md-inline-block">Penginapan & Homestay</h3>
                    <p class="card-text lead col-md-8 col-lg-6">Terletak di depan persis kampus UNY dan UGM Yogyakarta,lokasi penginapan kami sangat strategis untuk anda sekeluarga yang ingin menginap dengan harga terjangkau ketika ada wisuda</p>
                </div>
            </div>
        </li>
      <li class="slide-visible">
            <div class="card rounded-0 h-100">
                <div class="row g-0 h-100">
                    <div class="col-md-6 col-xl-7">
                        <img src="https://aceapugtar.cloudimg.io/raw.githubusercontent.com/ariefbuddies/bening-out/master/uploads/ghdepan.jpg?w=200&radius=20&force_format=png&#center" class="card-img d-none d-md-block" loading="lazy" style="max-width: 320px; height: 280px; display: block;">
                    <img src="https://aceapugtar.cloudimg.io/raw.githubusercontent.com/ariefbuddies/bening-out/master/uploads/content-5a4df3448bb6d-1-650x450.jpg?w=200&radius=25&force_format=png&center" class="card-img d-none d-md-block" loading="lazy" style="max-width: 320px; height: 280px; display: block;">
                    </div>
                </li>
    </ul>

    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

    <div class="slider-indicators">
        <button class="" aria-label="Go to slide"></button>
        <button aria-label="Go to slide" class="active"></button>
        <button aria-label="Go to slide" class=""></button>
    </div>
      </div>
               <hr>
  </section>
</main>
{{ end }}
