<footer class="site-footer pv4 bt b--transparent ph5" role="contentinfo">
{{< gallery-slider dir="/aperoweb/img/review/" auto-slide="0" no-jquery="false" no-fa="false"	>}}
  <hr>
  <p align="center">Syarat & Ketentuan Berlaku</p>
<hr>
<ul>
<li>Jam Operasional 09.00 sd 22.00 WIB</li>
<li>FREE PENGANTARAN dan PENGAMBILAN mobil/motor area DALAM KOTA saja mulai jam 09.00 sd 21.00 WIB. Diluar jam diatas bisa langsung hub WA kami</li>
<li>Cukup 3 saja tanda pengenal ID KTP,NPWP,SIM,PASPORT,ID KERJA,BPJS</li>
<li>No HP customer yang bisa dihubungi</li>
<li><mark style="background: #FF9900;">Semua booking mobil lepas kunci dan motor untuk pemakaian di dalam area DIY</li>
<li><mark style="background: #FF9900;">Semua pemesanan tanpa DP atau uang muka adalah bersifat tidak mengikat</li>
<li>Overtime 10 persen per jam dari Tarif</li>
<li>Harga sewaktu waktu bisa berubah tanpa pemberitahuan terlebih dahulu!</li></ul>
  <p align="center">Peta Bening Abadi Transport biar ga nyasar kak...👇</p>
  <p align="center"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15812.388931860849!2d110.38091885963132!3d-7.779514472767837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a59c915b63759%3A0x464727210bf21197!2sBening%20Abadi%20Trans!5e0!3m2!1sen!2sid!4v1698735084994!5m2!1sen!2sid" width="260" height="450" style="border:10px solid black" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
  <nav class="db dt-l w-100">
    <p class="site-copyright f7 db dtc-l v-mid w-100 w-33-l tc tl-l pv2 pv0-l mv0 lh-copy">
      {{ if ne site.Copyright "" }}{{ site.Copyright | safeHTML }}{{ else }}&copy; {{ now.Format "2006"}}{{ if site.Params.orgName }} {{ site.Params.orgName }}{{ end }}{{ if site.Params.orgLocal }}, {{ site.Params.orgLocal }}{{ end }}{{ end }}
      <span class="middot-divider"></span>
      <br />
      {{ partial "shared/attribution.html" }}
    </p>
    {{ if and (not .IsHome) (site.Params.socialInFooter) }}
    <div class="site-social-links db dtc-l v-mid w-100 w-33-l tc pv2 pv0-l mv0">
      {{ partial "shared/social-links.html" . }}
       </div>
   {{ end }}
    <div class="site-links f6 db dtc-l v-mid w-100 w-67-l tc tr-l pv2 pv0-l mv0">
      {{ range site.Menus.footer }}
      <a class="dib pv1 ph2 link" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
      {{ end }}
    </div>
  </nav>
  {{ with site.Params.math }}
    {{ partial "shared/math-preprocess.html" }}
  {{ with .renderer }}
    {{ if eq . "mathjax" }}
      {{ partial "shared/math-render-mathjax.html" }}
    {{ end }}
    {{ if eq . "katex" }}
      {{ partial "shared/math-render-katex.html" }}
    {{ end }}
  {{ end }}
  {{ end }}
</footer>
