<head>
  {{ partial "meta.html" . }}
  {{ template "_internal/schema.html" . }}
  {{ template "_internal/google_analytics.html" . }}
  {{ `<!--[if IE]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->` | safeHTML }}
  {{ "<!-- Basic Page Needs -->" | safeHTML }}
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3LK8KSCRSR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('consent', 'default', {
    'ad_user_data': 'denied',
    'ad_personalization': 'denied',
    'ad_storage': 'granted',
    'analytics_storage': 'granted',
    'wait_for_update': 500,
  });
  gtag('js', new Date());
  gtag('config', 'G-3LK8KSCRSR');
</script>
  <link rel="shortcut icon" href="{{ .Site.Params.favicon }}" type="image/x-icon">
  <link rel="icon" href="{{ .Site.Params.favicon }}" type="image/x-icon">
  {{ range .AlternativeOutputFormats }}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end }}
  {{ $styles := resources.Get "scaffold.scss" | resources.ExecuteAsTemplate "style.main.scss" . | toCSS | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" media="screen">
  <!-- panelset.js -->
  {{ $panelsetJs := resources.Get "js/panelset.js" | js.Build "panelset.js" | minify | fingerprint }}
  <script src="{{ $panelsetJs.RelPermalink }}" type="text/javascript"></script>
  <!-- headroom.js -->
  {{ $mainJs := resources.Get "js/main.js" | js.Build "main.js" | minify | fingerprint }}
  <script src="{{ $mainJs.RelPermalink }}" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
<link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
