.float1{
	position:fixed;
	width:120px;
	height:50px;
	bottom:55px;
	right:10px;
	background-color:#25d366;
	color:#fff;
	border-radius:40px;
	text-align:center;
  	font-size:12px;
	box-shadow: 5px 5px 3px #999;
  z-index:100;
}

.my-float1{
	margin-top:12px;
}
.float2{
	position:fixed;
	width:130px;
	height:40px;
	bottom:115px;
	right:10px;
	background-color:#25d366;
	color:#fff;
	border-radius:20px;
	text-align:center;
   	font-size:15px;
	box-shadow: 5px 5px 3px #999;
  z-index:100;
}

.my-float2{
	margin-top:12px;
}
.float3{
	position:fixed;
	width:130px;
	height:40px;
	bottom:5px;
	right:10px;
	background-color:#25d366;
	color:#fff;
	border-radius:10px;
	text-align:center;
        font-size:15px;
	box-shadow: 5px 5px 3px #999;
  z-index:100;
}

.my-float3{
	margin-top:12px;
}

.columnwa {
  float: right;
  width: 100%;
  padding: 1px;
  height: 10px
}
/* Clear floats after the columns */
.rowwa:after {
  content: "";
  display: table;
}
